*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}
.background{
    background-image:url(images/car.png);
    background-size: cover;
    background-color: repeat, no repeat;
    height: 500px;
    padding: 20px;

}
.background .header{
    display: flex;
    flex-direction: row ;
    gap: 90px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

}
.background .header .logo{
    display: flex;
    flex-direction: row;

}
.background .header .logo h1{
    font-size: 25px;
    color: rgb(234, 156, 12);

}
.background .header .logo h2{
    font-size: 25px;
    color: white;

}
.background .header .navbar a {
    justify-content:space-evenly ;
    gap: 20px;
    color: rgb(234, 156, 12);
    font-size: 20px;
    font: italic bold 16px Arial, sans-serif;
    text-decoration: none;
     margin: 10px;
     padding: 14px;

}
.background .header .navbar a:hover{
    color: darkgoldenrod;
    text-decoration: none;
    transition: 0.3s ease;
}
.background .header2{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 10px;
}
.background .header2 h1{
    font-size: larger;
    color: rgb(4, 63, 88);
    font: italic bold 25px Arial, sans-serif;
    


}
.background .header2 p{
    color:rgb(4, 63, 88);
    font-size: 20px;
    font: italic bold 28px Arial, sans-serif;
    
}
.background .header2 .play{
    display: flex;

}
.background .header2 .play h2{
    color: rgb(4, 63, 88);
    font-size: 15px;
     font: italic bold 20px Arial, sans-serif;

}

.background .header2 .play button{
    width: 70px;
    height: 35px;
    background-color: lightgreen;
    border: none;

}

.background .header2 .play button:hover{
    filter: drop-shadow(0px 0px 10px #5d28ad);
    transition: 0.25s;
}


.body1{
    display: flex;
    flex-direction: row;
    background-color: rgb(189, 184, 184);
    padding: 60px;
    margin: 0%;
    width: 100%;
    height: 100%;
    font-size: 17px;
}
.body1 .bodyl{
    background-color:rgb(120, 102, 60);
    opacity: 0.8;
    width: 33%;
    padding: 20px;
    height: 95%;

}
.body1 .bodyr{
    background-color:rgb(115, 105, 81);
    width: 60%;
    padding: 40px;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.body1 .bodyl label{
     display: block;
    font-size: 20px;

}
.body1 .bodyl button{
     width: 150px;
    height: 35px;
    background-color: lightgreen;
    border: none;
}
.body1 .bodyl button:hover{
    filter: drop-shadow(0px 0px 10px #5d28ad);
    transition: 0.25s;
}
.body1 .bodyr .pic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.body1 .bodyr h2{
    font-size: 17px;
}
.body1 .bodyr button{
   width: 200px;
   margin: auto;
    height: 35px;
    background-color: lightgreen;
    border: none;   
}
.body1 .bodyr button:hover{
    filter: drop-shadow(0px 0px 10px #5d28ad);
    transition: 0.25s;
}
.body2 .vehicles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px ;
    padding: 20px;
    text-align: center;



}
.body2 .vehicles h1{
    font-size: medium;
    color: goldenrod;
    margin: auto;

   

}
.body2 .vehicles p{
   color: goldenrod;
    font-size: 30px;
    margin: auto;
   
}
.scroll-cards {
    height: 50vh;                  
    overflow-y: auto;
    padding: 20px;
    scroll-snap-type: y mandatory;
}
.scroll-cards::-webkit-scrollbar {
   width: 6px;
}
.scroll-cards::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}
.cards {
   display: flex;
   flex-wrap: wrap;
    flex: 0 0 320px;  
    background: #fff;
    border-radius: 16px;
    scroll-snap-align: start;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    gap: 10px;
}

.cards img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}
.cards .card4 img {
    width: 80%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}


.cards h2 {
    font-size: 20px;
    margin: 10px 0 5px;
}

.cards p {
    color: #777;
    margin-bottom: 15px;
}

.cards p span {
    color: #00a2ff;
    font-weight: bold;
}
button {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background-color: rgb(37, 68, 241);
    cursor: pointer;
}
.body3 {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.body3 .picture{
    width: 45%;
    height: 400px;
    margin: 20px;

}
.body3 .picture img{
    width: 550px;
    height: 600px;
    position: relative;
    right: 600px;
    padding-top: 40px;
}
.body3 .word{
    width: 80%;
    height: 700px;
    font-size: 20px;
    background-color:rgb(109, 201, 109);
    padding-left: 120px;
    padding-right: 40px;
    padding-top: 100px;
    margin: 10px;
    position: relative;
    left: 550px;

}
.body4{
    background-color: rgb(179, 228, 129);
    height: 100%;
    width: 100%;


}
.body4 h1{
    margin: 5px;
    color: white;
    position: relative;
    bottom: 190px;

}
.body4 img{
    height: 400px;
    width: 60%;
    margin-bottom: -162px;
    padding: 0px;
    position: relative;
    left: 506px;
    border-top-left-radius: 60%  ;
    
}
.body4 button{
   margin: 20px;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background-color: rgb(37, 68, 241);
    cursor: pointer;
    position: relative;
    bottom: 190px;
}
.footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 30px;

    height: auto;
}
.footer .log .name{
    display: flex;
    flex-direction: row;

}
.footer .log .name h1{
    font-size: 25px;
    color: rgb(140, 92, 3);

}
.footer .log .name h2{
    font-size: 25px;
    color: white;

}
.footer .log p{
     color: white;
     font-size: 15px;

}
.footer .log .icon{
    display: flex;
    flex-direction: row;
    gap: 10px;

}
.footer .info h1 {
    color: white;

}
.footer .info a{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    cursor: pointer;

}
.footer .support h1{
     color: white;
}
 .footer .support a{
     display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    cursor: pointer;
 }
 .footer .seek .location{
    display: flex;
    gap: 15px;

 }
 .footer .seek  i{
    color: white;
 }
 .footer .seek h4{
    color: white;
 }
.footer .seek .phone{
     display: flex;
    gap: 15px;

}
.footer .seek .phone a{
    color: white;
}
.footer .seek .email{
      display: flex;
    gap: 15px;
}

@media screen and (max-width:700px) {
  .background {
    height: auto;
    padding: 12px;
  }

  .background .header {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  .background .header .logo {
    justify-content: center;
  }

  .background .header .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  .background .header .navbar a {
    display: block;
    padding: 8px 10px;
    margin: 4px 0;
    font-size: 16px;
  }

  .background .header2 {
    width: 100%;
    padding: 12px;
  }
}
